<link rel="stylesheet" href="navbar.component.css">


<nav class="navbar">
  <div class=nav>
    <a class="navbar-brand">Recept App</a>
    <a class="navbar-brand" routerLink="home" >Home</a>
    <div class="navR">
    <a class="navbar-brand" routerLink="myrecept" *ngIf=loggedIn>My Recept</a>
    <a class="navbar-brand" routerLink="favourite" *ngIf=loggedIn>Favourite</a>



      <a class="navbar-brand" routerLink="profile" *ngIf=loggedIn>Profile</a>
      <a class="navbar-brand" routerLink="login" *ngIf=!loggedIn>Login</a>
      <a class="navbar-brand" href="#" (click)="Logout($event)" *ngIf=loggedIn>Logout</a>

    </div>
  </div>
</nav>


