<br>
<div class="input-group mb-3">

  <input type="text" class="form-control" placeholder="Recept" aria-label="Recipient's username" aria-describedby="button-addon2"  #box (keyup.enter)="onEnter(box.value)">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onEnter(box.value)">Search</button>
  </div>
</div>
<br>
<br>

<div class="cart-item" *ngFor="let item of recepts"
     (click)="onSelect(item)"
     style="cursor:pointer"
>

  <div class="card mb-3" style="max-width: 540px;" *ngIf="item.name.includes(value)">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{item.url}} class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.name}} </h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated on {{item.created_at.slice(0,item.created_at.indexOf("T"))}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
