<br>
<button type="button" class="btn btn-primary btn-lg" (click)="onClick()"  style="float:right;">new Recept</button>

<br>
<br>
<br>
<br>

<div class="cart-item" *ngFor="let item of recepts"
     (click)="onSelect(item)"
     style="cursor:pointer" >

  <div class="card mb-3" style="max-width: 540px;" *ngIf="user.id==item.user_id">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{item.url}} class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.name}} </h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <a  (click)="onEditClick(item)" class="btn btn-primary">Edit</a>
    <br>
    <a style="color:red;" (click)="onDeleteClick(item)"  class="btn btn-primary">Delete</a>

  </div>

</div>

